<div role="main">
  <div class="container">
    <div class="grid-container">
	   <div class="row">
	   <div class="grid-child">
          {% block introtext %}
            {% snippet 'snippets/indexlayout.html' %}
          {% endblock %}
	   </div>
	    <div class="grid-child">
          {% block search %}
            {% snippet 'home/snippets/search.html', search_facets=search_facets %}
          {% endblock %}
	    </div>
        </div>
    </div>
      
      {# </div>#}

  <div class="headline-section">
	<div class="container">
		<div class = "heading-headline">HEADLINE</div>
		<div class="data-headline">BU SPARK! IS A TECHNOLOGY INCUBATOR AND EXPERIENTIAL LEARNING LAB FOR STUDENT LED COMPUTATIONAL AND DATA DRIVEN PROJECTS AT BOSTON UNIVERSITY.
		</div>
	</div>
  </div>


  <div class="index-layout-sections">
   <div class="container">
{% asset 'fantastic/index_navigation_tabs.js' %}
<div class="tab-container">
  <div class="tab active" data-module="index_navigation_tabs" data-tab="tab1-featured">Featured</div>
  <div class="tab" data-module="index_navigation_tabs" data-tab="tab2-popular">Popular</div>
  <div class="tab" data-module="index_navigation_tabs" data-tab="tab3-datasets">Datasets</div>
  <div class="tab" data-module="index_navigation_tabs" data-tab="tab4-topics">Topics</div>
</div>


  <div class="tab-content" id="tab1-featured">
    <h2>Tab 1 Content</h2>
    <div class="col-md-6">
          {% block featured_group %}
            {% snippet 'home/snippets/featured_group.html' %}
          {% endblock %}
        </div>
        <div class="col-md-6">
          {% block featured_organization %}
            {% snippet 'home/snippets/featured_organization.html' %}
          {% endblock %}
        </div>
  </div>

  <div class="tab-content" id="tab2-popular">
    <h2>Tab 2 Content</h2>
    <p>This is the content of tab 2.</p>
  </div>

  <div class="tab-content" id="tab3-datasets">
    <h2>Tab 3 Content</h2>
    <p>This is the content of tab 3.</p>
  </div>

  <div class="tab-content" id="tab4-topics">
    <h2>Tab 4 Content</h2>
    <p>This is the content of tab 4.</p>
  </div>

</div>
