[role=main], .main{
	background-color: #00A99E;
	font-family: "Montserrat";
	font-size: 15px;
}
.account-masthead{
	background-color: #00a99e;
	text-transform: uppercase;
   	letter-spacing: 1.5px;
	color: #ffffff;
	border-bottom: 2px solid #00a99e;
}
.account-masthead .account ul li a{
    	color: #ffffff;
    	font-weight: normal;
    	font-size: 14px;
    	/*font-family: Verdana, sans-serif;*/
        font-family: “Montserrat”, sans-serif;

}
.account-masthead .account ul li{
	display: block;
  	float: left; 
  	border: none;
}
.masthead{
	font-family: Verdana, sans-serif;
	background-color: white;
        border-bottom: none;
	color: black !important;
 		
}
.masthead .navbar .logo img {
    	max-height: 70px;
}
.page-heading {
	font-family: system-ui;
    	font-size: 70px;
    	margin-top: 90px;
    	margin-bottom: 50px;
	color: #ffffff; 
}
.masthead .main-navbar ul li:hover a, .masthead .main-navbar ul li:focus a, .masthead .main-navbar ul li.active a {
	border-radius: unset;
	background-color: #ffffff;
	color: black;
}
button.btn[type="submit"] {
	padding: 0;
}

.site-search {
    	margin-inline-start: 5px;
}
#field-sitewide-search.form-control.me-2 {
	border-radius: 20px;
	background-color: white;
        color: black;
	width: 200px;
	box-shadow: none;
}
#field-sitewide-search::placeholder {
  	text-align: right;
  	color: #FFFFFF;
}
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm{
        font-family: Verdana, sans-serif;
	padding-bottom: 5px;
}
.masthead .main-navbar ul li a{
	font-family: Verdana, sans-serif;
        color: #989898;
	text-transform: uppercase;
	font-size: 13px;
	padding: 0.6rem 0.5rem;
}
.header-tag-line {
  	margin-bottom: 50px;
	margin-top: 60px;
	color: #ffffff;
}
.text-block {
        font-family: Verdana, sans-serif !important;
	color: #aaaaaa;
}

.main{
        background-color: black;
	height: auto;
	color: #00a99e;
}
.main-hero{
        background-color: rgb(255, 255, 255)!important;
}
.toolbar a {
	text-transform: uppercase;
	font-family: Verdana, sans-serif;

}
.toolbar .breadcrumb a {
	color: white;
	font-size: 14px;
}
.dataset-heading a {
	color: #aaaaaa;
}
.grid-container {
    	display: grid;
    	grid-template-columns: 1fr 1fr;
    	grid-gap: 250px;
	max-width: fit-content;

}
div.module-search.card.box {
  	margin-top: 90px;
  	margin-bottom: 20px;
}
.homepage .module-search .search-form {
    	background-color: #507f73;
   	font-family: Verdana, sans-serif;
	padding: 20px;
}
.homepage .module-search{
    	color: #ffffff;
 	padding: 0;
	border-width: 0;
	border-style: none;
}
.homepage .module-search .tags{
	background-color: #ffffff;
	color: #00A99E;
}
.homepage .module-search{
	margin-top: 0px;
}
.homepage .module-search .search-form input {
	font-size: 14px;
	padding: 8px;
}
.heading-headline {
  	text-align: center;
  	margin-top: 70px;
        margin-bottom: 50px;
  	color: #000000;
	font-size: 35px;
	font-weight: bold;
}
.headline-section{
	background-color: #ffffff;
}
.data-headline {
  	text-align: center;
  	margin-top: 30px;
        margin-bottom: 50px;
  	color: #000000;
}
.index-layout-sections{
	background-color: white;
	color: #000000;
	font-weight: bold;
	border-top: 4px solid #00a99e;
    	border-bottom: 4px solid #00a99e; 
}
.layout-header-links {
  	text-decoration: none;
	color: #000000;
	display: flex;
        justify-content: space-between;
}

.layout-header-links:focus {
  	color: #00a99e;
}

.layout-data {
  	display: none;
}

.layout-data:target {
 	 display: block;
}

.site-footer{
	background: white;/*#00a99e;*/
	color: black; /* #000000;*/
}
.tab-container {
      	display: flex;
      	justify-content: space-between;
}

.tab {
	font-size: 20px;
      	cursor: pointer;
      	padding: 5px;
      	border-bottom: 2px solid transparent;
	color: #000000;
	font-family: Verdana, sans-serif !important;
}

.tab:hover {
      	border-bottom: 2px solid #ccc;
}

.tab:active {
      	border-bottom: 2px solid #00A99E;
	color: #00A99E;
}
.menu-head-content{
	color: #ffffff;
}
.tab-content {
      	display: none; /* Hide all tab content by default */
}
img, svg {
    	vertical-align: text-bottom;
    	max-height: 600px;
}
.site-footer a {
    	color: black;
}
.site-footer label, .site-footer small, .site-footer .small {
    	color: black;
}
.btn, label {
    	font-weight: normal;
}
.footer-social-links a img {
	height: 50px;
	max-width: 60px;
}
.footer-image-logo{
	height: 100px;
	max-width: 300px;
}
.about-link-footer {
	color: #00a99e;
        font-weight: bold;
}
div.notes.embedded-content {
	color: #D3D3D3;
}
.page-header.module-content{
	background-color: black;
}
.secondary {
	font-family: Verdana, sans-serif;
        font-size: 15px;
}
.content-wrapper-header{
	display: flex;
  	justify-content: space-between;
}
.content-wrapper-right {
  	flex: 1; /* Take up remaining space */
  	padding: 20px; /* Add padding for spacing */
}
.content-wrapper-middle {
  flex: 1; /* Take up remaining space */
}
